<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\python\python.exe|D:\Python\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Django apps only 

    <add key="WSGI_LOG" value="D:\PY Program\API_New_Version\DV_API_V1\DV_Log.log"/>
    <add key="WSGI_HANDLER" value="DV_MAIN_API.app"/>
    <add key="PYTHONPATH" value="D:\PY Program\API_New_Version\DV_API_V1" />-->



    <add key="WSGI_HANDLER" value="State_district_API.app" />
    <add key="PYTHONPATH" value="D:\Arya_Kapoor_Project\Census_Project\src\Backend_api" />
  </appSettings>
</configuration>        	